PORT=5000
MONGODB_URI=mongodb+srv://root:asdf@cluster0.lk7n59q.mongodb.net/?appName=Cluster0
JWT_SECRET=change-me
JWT_EXPIRES_IN=1d
CLIENT_ORIGIN=http://localhost:5173
COOKIE_SECURE=false


# mega mart